<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aware.plugin.template"
    xmlns:tools="http://schemas.android.com/tools">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/Theme.Aware"
        tools:replace="android:icon, android:theme">

        <service android:name="com.aware.plugin.template.Plugin" android:exported="true" />
        <activity android:name="com.aware.plugin.template.Settings" android:exported="true" android:theme="@style/Theme.Aware" />

    </application>

</manifest>
