<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aware.plugin.template">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@drawable/ic_launcher">

        <service android:name="com.aware.plugin.template.Plugin" android:exported="true" />
        <activity android:name="com.aware.plugin.template.Settings" android:exported="true" />

        <provider
            android:name="com.aware.providers.Aware_Provider"
            android:authorities="${applicationId}.provider.aware"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA"/>

        <provider
            android:name="com.aware.providers.Scheduler_Provider"
            android:authorities="${applicationId}.provider.scheduler"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />

    </application>

</manifest>
